.main {
  min-height: 80vh;
}
.user-main {
  min-height: 80vh;
  width: calc(100% - 200px);
}

/* Sign in page */
.sign-in-page {
  min-height: 100vh;
  background: url(./assets/library.jpg) center no-repeat;
  background-size: cover;
}
